.sobre__mi__descripcion{
    background-image: linear-gradient(to right, rgb(248, 183, 205), rgb(216, 133, 108));
    width: 100%;
    height: 400px;
    font-family: 'Slabo 27px', serif;
}

.sobre__mi__titulo{
    font-size: 2rem;
    color: #828282;
    margin-left: 152px;
    padding-top:110px;
}

.sobre__mi__resumen{
    margin-left: 152px;
    color:#828282;
    font-size: 1.5rem;
}

.sobre__mi__firma{
    margin-left:152px;
}
